.display-layout {
    display: grid;
    grid-auto-flow: row;
    gap: 15px;
    width: 50dvw;
    min-height: fit-content;
    overflow-y: auto;
}

/* Móviles grandes (≥576px) */
@media (min-width: 0px) {
  .display-layout {
    width: 90dvw;
  }
}

/* Tablets (≥768px) */
@media (min-width: 768px) {
  .display-layout {
    width: 80dvw;
  }
}

/* Laptops (≥992px) */
@media (min-width: 992px) {
  /* Estilos para laptops */
  .display-layout {
    width: 850px;
  }
}
