.article {
    background-color: #2C2C2C;
    border-radius: 15px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-height: 200px;
    max-height: fit-content;
}