.info-section {
    background-color: #2C2C2C;
    border-radius: 15px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-height: 200px;
    max-height: fit-content;
}

.heading, .content {
    background-color: #88304E;
    border-radius: 10px;
    color: white;
}

.heading {
    font-family: "Cantata One", serif;
    font-weight: normal;
    font-style: normal;
}

.heading h1,
.heading h2 {
    margin: 0;
    padding: 20px 25px;
}

.content {
    padding: 5px 25px;
}

.content li {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}