.row-2-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 2fr;
    column-gap: 15px;
}

.image-container {
    display: grid;
    grid-template-areas: 1;
}

.image-border {
    aspect-ratio: 1 / 1;
    width: auto;
    height: fit-content;
}

.image {
    width: auto;
    aspect-ratio: 1 / 1;
}



/* Tablets (≥768px) */
@media (max-width: 768px) {
  .row-2-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
}