.list {
    font-size: larger;
    list-style: none;
    padding: 0;
    margin: 0;
}

.list li {
    padding-bottom: .5lh;
    display: flex;
    align-items: start;
}

.unstyled {
    padding: 0px 15px;
}

.ordered, .unordered {
    padding-right: 20px;
}

.ordered li::before,
.unordered li::before {
    width: 3ch;
    margin-left: 0px;
    margin-right: 1ch;
    padding-left: 0px;
    text-align: right;            /* alinea el número a la derecha del bloque */
    align-self: flex-start;
    flex-shrink: 0;
    display: inline-block;
    font-weight: bolder;
}


.unordered li::before {
    content: attr(list-prefix);
}

.ordered {
    counter-reset: list;    /* inicializamos el contador */
}

.ordered li {
    counter-increment: list;  /* incrementa el contador en cada li */
}

.ordered li::before {
    content: counter(list) ".";  /* genera el número con punto */
    padding-right: 0ch;
    margin-right: 1.25ch;
}