.header-container {
    display: flex;
    column-gap: 20px;
}

.header {
    font-size: 1.1rem;
    width: 100%;
}

.options-container {
    display: flex;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-border {
    display: flex;
    overflow: hidden;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    box-shadow: 0px 0px 10px white;
    max-width: fit-content;
    max-height: fit-content;
    transition: border-color 1s ease-in-out, box-shadow 0.3s ease-in-out;
}

.image-border:hover {
    border-color: #F7374F;
    box-shadow: 0px 0px 10px #F7374F;
}

.image {
    width: auto;
    max-width: 100%;
    max-height: 380px;
    transition: transform 0.6s ease-in-out;
}

.image:hover {
    cursor: pointer;
    transform: scale(1.05);
}


/* 🟡 Móviles grandes (≥576px) */
@media (min-width: 576px) {
  /* Estilos para móviles grandes */
  .desserts-display {
    width: 90dvw;
  }
}

/* 🔵 Tablets (≥768px) */
@media (min-width: 768px) {
  /* Estilos para tablets */
  .desserts-display {
    width: 80dvw;
  }
}

/* 🟠 Laptops (≥992px) */
@media (min-width: 992px) {
  /* Estilos para laptops */
  .desserts-display {
    width: 60dvw;
  }
}

/* 🟣 Escritorios grandes (≥1200px) */
@media (min-width: 1200px) {
  .desserts-display {
    width: 60dvw;
  }
}

/* 🔴 Pantallas extra grandes (≥1400px) */
@media (min-width: 1400px) {
  /* Estilos para pantallas extra grandes */
  .desserts-display {
    width: 60dvw;
  }
}
