.header {
    font-size: 1.1rem;
}

.middle-row-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 2fr;
    column-gap: 15px;
}

.image-container {
    display: grid;
    grid-template-areas: 1;
}

.image-border {
    display: flex;
    overflow: hidden;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    box-shadow: 0px 0px 10px white;
    max-width: fit-content;
    max-height: fit-content;
    transition: border-color 1s ease-in-out, box-shadow 0.3s ease-in-out;
    aspect-ratio: 1 / 1;
    width: auto;
    height: fit-content;
}

.image-border:hover {
    border-color: #F7374F;
    box-shadow: 0px 0px 10px #F7374F;
}

.image {
    width: auto;
    max-width: 100%;
    max-height: 380px;
    transition: transform 0.6s ease-in-out;
}

.image:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.middle-row-container .image {
    width: auto;
    aspect-ratio: 1 / 1;
}



/* Tablets (≥768px) */
@media (max-width: 768px) {
  .middle-row-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
}