.desserts-display {
    width: 60dvw;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    min-height: fit-content;
    overflow-y: auto;
}

.desserts-display-grid-item-1 {
    grid-column: 1 / span 5;
    grid-row: 1;
}

.desserts-display-grid-item-2 {
    grid-column: 1 / span 3;
    grid-row: 2;
}

.desserts-display-grid-item-3 {
    grid-column: 4 / span 2;
    grid-row: 2;
}

.desserts-display-grid-item-4 {
    grid-column: 1 / span 5;
    grid-row: 3 / span 1;
}


/* 🟡 Móviles grandes (≥576px) */
@media (min-width: 576px) {
  /* Estilos para móviles grandes */
  .desserts-display {
    width: 90dvw;
  }
}

/* 🔵 Tablets (≥768px) */
@media (min-width: 768px) {
  /* Estilos para tablets */
  .desserts-display {
    width: 80dvw;
  }
}

/* 🟠 Laptops (≥992px) */
@media (min-width: 992px) {
  /* Estilos para laptops */
  .desserts-display {
    width: 60dvw;
  }
}

/* 🟣 Escritorios grandes (≥1200px) */
@media (min-width: 1200px) {
  .desserts-display {
    width: 60dvw;
  }
}

/* 🔴 Pantallas extra grandes (≥1400px) */
@media (min-width: 1400px) {
  /* Estilos para pantallas extra grandes */
  .desserts-display {
    width: 60dvw;
  }
}
