/*
palette:
F7374F
88304E
522546
2C2C2C
*/


.dessert-display {
    color: white;
    height: 80dvh;
    max-height: 100%;
    padding: 0;
    margin: 0;
}

.dessert-img {
    display: flex;
    align-items: center;
}

.dessert-img img {
    width: auto;
    max-width: 100%;
    max-height: 500px;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    box-shadow: 0px 0px 10px white;
}


.dessert-info {
    background-color: #2C2C2C;
    padding: 6px;
    border-radius: 15px;
    width: 100%;
    min-height: fit-content;
    height: 100%;
    max-height: 80dvh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.dessert-info-section {
    background-color: #88304E;
    border-radius: 10px;
    padding: 25px 35px;
}

.dessert-info-section * {
    margin: 0;
    padding: 0;
}

.dessert-info-section h1 {
    margin: 0px;
    margin-top: 8px;
}
.dessert-info-section h2 {
    margin-bottom: 15px;
}

.dessert-info-section h1,
.dessert-info-section h2 {
    font-family: "Cantata One", serif;
    font-weight: normal;
    font-style: normal;
}

.dessert-info-section ol,
.dessert-info-section ul {
    padding-left: 30px;
}

.dessert-info-section li {
    margin-bottom: 10px;
}