body {
    margin: 0px;
    padding: 0px;
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #88304E;
}


/*
palette:
F7374F
88304E
522546
2C2C2C
*/